* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keys-container {
    display: flex;
}

.keys-container .key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 6px;
    font-size: 22px;
    cursor: pointer;
    background: rgb(56,54,52);
    background: linear-gradient(0deg, rgb(66 63 63) 0%, rgb(38 36 36) 35%);
}

.keys-container .key.pressed {
    /* background: linear-gradient(0deg, rgba(56,54,52,1) 0%, rgba(28,26,26,1) 100%); */
    background: #000000;
}

.keys-container .key kbd {
    font-size: 1.2em;
    color: #ffffff;
}

.keys-container .key span {
    font-size: 0.5em;
    color: #ffff00;
    margin-top: 7px;
}